*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}

body{
  width: 100%;
  height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
.Hero{
    width: 1100px;
    margin: auto;
    position: relative;
}
.Logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Oswald';
    color: black;
}
span{
    color: rgb(255, 242, 0);
}
.menu{
    float: right;
}
nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
    border-bottom: 1px solid black;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
}
nav ul li a:hover{
 color: rgb(255, 242, 0);
}

.home{
    width: 100%;
    height: 100vh;
}

section{
    margin: auto;
    display: flex;
    
}
.Saya{
    margin-top: 50px;
    margin-bottom: 50px;
}

.Saya .Nama{
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: 'comic sans ms';
}
.Saya .am{
    font-family: 'comic sans-ms';
    font-weight: 800;
    font-size: 45px;
    color: black;
    width: 100%;
    line-height: 50px;
}
.OP
{
    background-color: black;
    width: 100%;
    padding: 180px 0;
}
.deskripsi{
    color: white;
}
h5{
    color: white;
    font-family: 'comic sans ms';
}
p{
    color: white;
    font-family: 'comic sans ms';
    font-size: larger;
}
.project{
    background: #101010;
    width: 100%;
    font-size: 20px;
    padding: 100px 0;
}

.project .card p {
    color: rgb(218, 217, 217);
    font-size: 18px;
    margin-top: 20px;
}
.title h2 {
font-size: 75px;
width: 1130px;
text-align: center;
margin-bottom: 30px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding-right: 48px;

}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
}
h2{
    color: #fff;
}
.card i{
  color: rgb(255, 242, 0);
    margin-top: 5px;
}
h5{
 font-size: 23px;
 color: #fff;

}
.contact-me{
    width: 100%;
    padding: 100px 0;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-text h2{
    color: white;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.contact-box{
    color: white;
}

.contact-box::after{
    content: '';
    display: block;
    clear: both;
}

.contact{
    width: 33.3%;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

.contact h4{
    color: rgb(255, 242, 0);
    padding-bottom: 10px;
}

.contact p{
    font-size: 18px;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    font-size: 30px;
    color: #fff;
    width: 500px;
    line-height: 26px;
}
.sosial{
    display: flex;
}
.sosial a{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center; 
  justify-content: center;
  background: rgb(255, 242, 0);
  border-radius: 50%; margin: 22px 10px;
  text-decoration: none;
  color: #fff; 
  font-size:20px;
}
.sosial a:hover{
    transform: scale(1.2);
    transition: .3s;
}

footer .end {
    position: absolute;
    color: rgb(255, 242, 0);
    bottom: 35px;
    justify-content: center;
    align-content: center;
}